#root {
  margin: 0 auto;
  text-align: center;
}

.background {
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/056/890/non_2x/geometric-shapes-background-with-memphis-style-free-vector.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -100;
}